<%= link_to 'Home', root_path %>
<div class="sidebar">
  <table>
    <tr>
      <th>Searched on:</th>
    </tr>
    <% previous_search_dates(@search.term).each do |date| %>
      <tr>
        <td><%= date %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="content">
  <h1><%= @search.term %></h1>
</div>

